.admin-page {
    display: grid;
    grid-template-rows: repeat(4, auto) 1fr;
    gap: .5rem;
    height: 100vh;
    background-image: linear-gradient(to bottom, #282828 0%, #121212 33rem, #121212);
    overflow: auto;
    color: $clr2;
    padding: 3rem;

    @include for-mobile-layout {
        display: unset;
        padding: .5rem;
        user-select: text
    }

    .admin-page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: 1rem;

        @include for-mobile-layout {
            flex-direction: column;
            gap: 1rem;
        }
    }

    .delete-stations {
        display: flex;
        gap: .5rem;

        span {
            width: 18rem;
        }

        @include for-mobile-layout {
            flex-direction: column;
        }
    }

    .user-list {
        display: grid;
        gap: 1rem;

        .user-info {
            display: grid;
            grid-template-columns: 4rem minmax(1rem, 5rem) auto;
            gap: .5rem;
            align-items: center;

            @include for-mobile-layout {
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
            }

            img {
                width: 4rem;
                aspect-ratio: 1;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    transition: .1s;
                    outline: 3px solid $clr9;
                }
            }

            button {
                width: fit-content;
            }
        }
    }

    .delete-btn,
    .print-btn,
    .remove-btn,
    .back-btn,
    .log-btn {
        border: none;
        color: $clr2;
        background-color: rgba(0, 0, 0, 0.54);
        padding: .5rem 1rem;
        border-radius: 500px;
        font-size: 0.875rem;
        font-weight: 700;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: $clr9;
        }
    }

    pre {
        overflow-y: auto;
        overflow-x: hidden;
    }
}