.artist-data-containter {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 4;
    background-color: $clr4;
    border-radius: 0.5rem;
    width: 48rem;
    max-height: 60rem;
    overflow-y: auto;
    display: none;
    animation: createBox .4s ease-out;
    transform-origin: bottom;

    @keyframes createBox {
        from {
            transform: scale(.7);
            opacity: .5;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    div {
        height: 0;
        display: flex;
        justify-content: end;
        position: sticky;
        top: 0;
    }

    .closeBio-btn {
        margin: .5rem .5rem 0 0;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: #ffffff12;

            path {
                fill: $clr2;
            }
        }
    }

    .img-container {
        background-color: $clr1;
        display: flex;
        justify-content: center;
    }

    .artist-bio {
        padding: 1rem 2.5rem;
        display: flex;
        justify-content: space-around;

        h1 {
            color: $clr3;
            align-self: center;
        }

        .followers {
            display: flex;
            flex-direction: column;
            padding: 1rem 2.5rem 0 0;

            .followers-number {
                font-size: 2rem;
                color: $clr2;
                font-family: CircularSpTitle;
            }

            .followers-text {
                font-size: 0.875rem;
                color: $clr3;
                margin-top: -.5rem;
            }
        }

        .artist-wiki {
            color: $clr3;
        }
    }
}

body.ad-modal-open .artist-data-containter {
    display: block;
}

.mw-empty-elt {
    display: none;
}