.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.707);
    pointer-events: none;
    cursor: pointer;

    opacity: 0;
}

body.modal-open .backdrop {
    opacity: 1;
    pointer-events: auto;
}