.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.707);
    pointer-events: none;
    cursor: pointer;
    z-index: 3;

    opacity: 0;
}

body.se-modal-open .backdrop,
body.ad-modal-open .backdrop,
body.ue-modal-open .backdrop {
    opacity: 1;
    pointer-events: auto;
}