.category-list {

    ul {
        max-width: 119rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

        @include for-mobile-layout {
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
            gap: 0.5rem;
        }
    }

    @include for-mobile-layout {
        margin-block-end: 12rem;
    }
}