.category-preview {
    position: relative;
    aspect-ratio: 2/1.2;
    font-size: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;

    h1 {
        padding-inline-start: 0.5rem;
        padding-block-start: 0.5rem;
        color: $clr2;
        font-weight: normal;

        @include for-mobile-layout {
            font-size: 1.5rem;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        right: -20px;
        width: 8.5rem;
        rotate: 25deg;

        @include for-mobile-layout {
            width: 5rem;
        }
    }

}