.category-page {
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, #212121 0%, #121212 25%, #121212 25%, #121212 100%);
    padding: 1.5rem;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;

    @include for-mobile-layout {
        padding-block: 2rem;
        padding-inline: 0rem;
    }

    h1 {
        margin-block-start: 11rem;
        margin-block-end: 2rem;
        font-weight: 900;
        font-size: 6rem;
        color: $clr2;

        @include for-mobile-layout {
            margin: 5rem .5rem 2rem .5rem;
            font-size: 2rem;
        }
    }
}