.category-preview {
    position: relative;
    aspect-ratio: 2/1;
    font-size: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;

    h1 {
        padding-inline-start: 0.5rem;
        padding-block-start: 0.5rem;
        color: $clr2;
        font-weight: normal;

        @include for-mobile-layout {
            font-size: 1.5rem;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        right: -20px;
        width: 6.48rem;
        height: 6.48rem;
        rotate: 25deg;

        @include for-mobile-layout {
            height: 4.48rem;
            width: 4.48rem;
        }
    }

}