.category-list {

    ul {
        max-width: 119rem;
        padding-inline-end: 1.4rem;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

        @include for-mobile-layout {
            margin-block-end: 7rem;
        }
    }
}