.fullscreen-player {
    display: grid;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    grid-template-columns: 9.25rem 1fr 9.25rem;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    line-height: 1.2;

    @include for-xlmobile-layout {
        grid-template-columns: 2rem 1fr 2rem;
        grid-template-rows: auto 1fr auto;
        row-gap: 1rem;

        &.portrait {
            grid-template-columns: .5rem 1fr .5rem;
        }
    }

    .uppercase {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .station-info {
        display: flex;
        align-items: center;
        gap: 1rem;
        grid-column: 2;
        grid-row: 1;

        svg {
            @include for-xlmobile-layout {
                width: 3rem;
                height: 3rem;
            }
        }

        .playing-from {
            color: #9c9c9e;

            h1 {
                @include for-xlmobile-layout {
                    font-size: .8rem;
                }
            }

            h2 {
                font-size: 2rem;
                @include for-xlmobile-layout {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .next-track {
        display: flex;
        align-items: center;
        align-self: center;
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        border: 1px solid $clr3;
        aspect-ratio: 50/9;
        height: 8.3rem;
        padding: .3rem 2rem .3rem .3rem;
        gap: 2.5rem;
        background-color: $clr4;
        color: $clr2;
        opacity: 0;
        transition: opacity 1s ease;

        @include for-xlmobile-layout {
            margin-block-start: 1rem;
            aspect-ratio: unset;
            max-height: 5rem;

            &.portrait {
                justify-self: unset;
            }
        }

        .next-track-text {
            h1 {
                font-size: 1.5rem;
                font-weight: 400;
                @include for-xlmobile-layout {
                    font-size: 1rem;
                }
            }
    
            h2 {
                font-size: 2rem;
                margin-block-start: 1rem;
                @include for-xlmobile-layout {
                    font-size: 1rem;
                }
            }

        }


        &.fade-in {
            opacity: 1;
        }

        &.fade-out {
            opacity: 0;
        }

        img {
            height: 100%;
        }
    }

    .track-info {
        display: flex;
        gap: 3rem;
        grid-column: 2;
        grid-row: 2;

        @include for-xlmobile-layout {

            &.portrait {
                flex-direction: column;
            }
        }

        img {
            max-width: 40rem;
            max-height: 40rem;
            align-self: flex-end;
            border-radius: 1rem;
            animation: moveImgUp 1s ease-in-out;

            @include for-xlmobile-layout {
                max-width: 9rem;

                &.portrait {
                    max-width: 100%;
                    align-self: center;
                }
            }
        }

        .track-text {
            align-self: flex-end;
            animation: moveTextRight 1s ease-in-out;

            @include for-xlmobile-layout {

                &.portrait {
                    align-self: unset;
                    text-align: center;
                }
            }

            .track-title {
                font-size: 6rem;
                color: $clr2;
                line-height: 1;
                
                @include for-xlmobile-layout {
                    font-size: 1.5rem;
                }
            }

            .track-artist {
                display: inline;
                font-size: 1.5rem;
                color: $clr3;
                margin-block-start: 1rem;
            }
        }
    }

    .player-mid-container-fs {
        grid-column: 2;
        grid-row: 3;

        .progress-bar {
            span {
                color: $clr2;
            }

            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: .5rem;

            input {
                width: 100%;
                grid-column: 2;
            }
        }

        .track-controls-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include for-xlmobile-layout {
                &.portrait {
                    justify-content: space-around;
                }
            }

            .liked {
                display: flex;
                gap: 1rem;
                align-items: center;

                .video-player-btn {
                    margin-block-start: .1rem;

                    @include for-mobile-layout {
                        display: none;
                    }

                    &.is-active {
                        &:hover {
                            path {
                                fill : lighten($clr9, 10%)
                            }
                        }

                        path {
                            fill : $clr9;
                        }
                    }

                    svg {       
                        height: 2rem;
                        width: 2rem;
                        
                        &:hover {
                            fill : $clr2;
                        }

                    }
                }
                
            }

            .btn {
                display: flex;
                cursor: pointer;
                fill: $clr3;

                &:hover:not(.play-fs) {
                    fill: $clr2;
                }

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }

                span {
                    display: flex;
                }


            }

            .playback-controls {
                display: flex;
                gap: 1.25rem;
                align-items: center;
                height: 9rem;

                @include for-xlmobile-layout {
                    height: 5.5rem;
                }

                .play-fs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 4rem;
                    background-color: $clr2;
                    border-radius: 50%;
                    fill: $clr1;

                    &:hover {
                        scale: 104%;
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
                }

                .is-shuffle,
                .repeat-playlist,
                .repeat-song {
                    fill: $clr9;

                    &:hover {
                        fill: lighten($clr9, 10%);
                    }

                    position: relative;

                    &::after {
                        content: "•";
                        position: absolute;
                        bottom: -1rem;
                        left: 50%;
                        transform: translateX(-50%);
                        color: $clr9;
                        font-size: 1rem;
                    }
                }
            }

            .volume-controls {
                display: flex;
                align-items: center;

                .mute,
                .vol-slider {
                    @include for-xlmobile-layout {
                        display: none;
                    }
                }

                .fullscreen-btn {
                    margin-inline-start: 1rem;

                    @include for-xlmobile-layout {
                        margin-inline-start: unset;
                    }
                    
                    &:hover {
                        path {
                            fill: $clr2;
                        }
                    }
                }
            }
        }
    }
}