.home-page {
    border-radius: 0.5rem;
    overflow-x: hidden;
    transition: 1.5s ease;
    background-image: linear-gradient(to bottom, transparent 0%, #121212 33rem, #121212);

    @include for-mobile-layout {
        border-radius: 0;
    }

    .stations-container {
        padding: 1.5rem;

        @include for-mobile-layout {
            padding: 2rem 0.5rem 10rem;
        }

        h2 {
            color: $clr2;
            margin-block: 3rem 1rem;
            font-size: 2rem;

            @include for-mobile-layout {
                font-size: 1.5rem;
                margin-block: 1rem;
            }
        }

        .sub-header {
            max-width: 119rem;
            display: flex;
            justify-content: space-between;
            align-items: end;

            h1 {
                font-size: 1.5rem;
                font-family: CircularSpTitle;
                color: $clr2;
                margin-block-start: 3rem;
                margin-block-end: 1rem;

                @include for-mobile-layout {
                    margin-block-start: 1.5rem;
                }
            }

            .category-link {
                font-size: 0.875rem;
                color: #b3b3af;
                margin-block-end: 1.4rem;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}