.home-page {
    h1 {
        font-size: 1.5rem;
        font-family: CircularSpTitle;
        color: $clr2;
        margin-block-start: 3rem;
        margin-block-end: 1rem;
    }

    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, #212121 0%, #121212 25%, #121212 25%, #121212 100%);
    padding: 1.5rem;
    overflow: auto;

    @include for-mobile-layout {
        border-radius: 0;
    }
}