.library-station-preview {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    column-gap: 0.8rem;
    align-content: center;
    height: 4rem;
    margin-block-start: 0.1rem;
    margin-inline-start: 0.6rem;

    h5 {
        padding-block-start: 0.2rem;
        font-weight: 400;
        font-size: 1rem;

        @include for-mobile-layout {
            color: $clr2;
        }

        &.is-current {
            color: $clr9
        }
    }

    small {
        font-weight: 400;
        font-size: 0.875rem;
        color: $clr3;
    }

    img {
        grid-row: span 2;
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        object-fit: cover;
    }
}