.library-station-list {
    overflow-y: hidden;
    padding: 0.5rem;

    @include for-mobile-layout {
        padding: 0;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    li {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background-color: rgba(211, 211, 211, 0.096);
            border-radius: 0.5rem;
        }

        span {
            align-self: center;
            margin-block-start: 0.5rem;
        }

        .speaker {
            padding-inline-end: 1rem;
        }

        .dlt-btn {
            position: absolute;
            background-color: $clr3;
            cursor: pointer;
            color: $clr3;
            background-color: $clr6;
            padding: 1rem;
            height: 3rem;
            border-radius: 0.2rem;
            inset: 0px auto auto 0px;
        }
    }

    ul {
        overflow-y: auto;
        height: 100%;

        @include for-mobile-layout {
            padding-block-end: 12rem;
        }
    }
}