.library-station-preview {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    align-content: center;

    &.grid {
        grid-template: unset;
    }

    h5 {
        font-weight: 400;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include for-mobile-layout {
            color: $clr2;
        }

        &.is-current {
            color: $clr9
        }
    }

    small {
        font-weight: 400;
        font-size: 0.875rem;
        color: $clr3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        grid-row: span 2;
        height: 3rem;
        object-fit: cover;
        height: 100%;
    }
}