.library-station-list {
    overflow-y: hidden;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    li {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background-color: rgba(211, 211, 211, 0.096);
            border-radius: 0.5rem;
        }
    }

    ul {
        margin-block-start: 2rem;
        // display: grid;
        overflow-y: auto;
        height: 100%;
    }
}