.login-view {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    header {

        .login-logo {
            display: flex;
            padding: 2rem 0 2rem 3.1875rem;

            @include for-mobile-layout {
                width: 100%;
                padding: .5rem;
                justify-content: center;
            }

            img {
                width: 2.25rem;
                height: 2.25rem;
                margin-inline-end: 0.5rem;
            }

            h2 {
                color: $clr2;
            }
        }
    }

    .form-container {
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem;
        background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);

        @include for-mobile-layout {
            padding: .5rem;
            background: unset;
        }


        .login-form {
            background: $clr1;
            border-radius: 0.5rem;
            height: 56.875rem;

            @include for-mobile-layout {
                width: 100%;
            }

            h1 {
                color: $clr2;
                font-size: 3rem;
                font-family: CircularSpTitle;
                margin: 5rem 0rem 3rem;
                width: 45.875rem;
                text-align: center;

                @include for-mobile-layout {
                    display: none;
                    width: unset;
                }
            }

            form {
                width: 324px;
                margin: 0px auto;
                padding-bottom: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include for-mobile-layout {
                    width: unset
                }

                input {
                    margin-block-end: 1rem;
                    width: 20.25rem;
                    height: 3rem;
                    padding: 0.5rem 0.875rem;
                    border-radius: 0.2rem;
                    background-color: $clr4;
                    border: 1px solid $clr3;
                    color: $clr2;

                    @include for-mobile-layout {
                        width: 100%;
                    }

                    &:focus:hover {
                        outline: 2px solid white
                    }

                    &:hover {
                        outline: 1px solid white
                    }
                }

                .login-btn {
                    width: 20.25rem;
                    height: 3rem;
                    background: $clr7;
                    border: none;
                    border-radius: 500px;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 1rem;

                    @include for-mobile-layout {
                        width: 100%;
                    }

                    &:hover {
                        scale: 104%;
                    }
                }
            }

            hr {
                margin: 2rem 6.25rem;
                width: 100%;
            }

        }
    }

    span {
        color: $clr2;
        align-self: flex-start;
    }
}