.nav-container {
    display: grid;
    overflow-y: auto;
    grid-template-rows: auto 1fr;
    // display: flex;
    // flex-direction: column;
    background-color: $clr1;
    grid-column: 1;
    grid-row: 1;
    width: 412px;
    color: $clr2;

    nav {
        border-radius: 0.5rem;
        background-color: $clr4;
        font-weight: 600;
        gap: 20px;
        padding-inline: 0.75rem;
        padding-block: 0.5rem;

        div {
            cursor: pointer;
            color: #b3b3af;
            height: 48px;
            font-size: 1rem;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0.25rem 0.75rem 0.25rem 0.75rem;

            &.isActive {
                color: $clr2;
            }

            span {
                padding-top: 0.5rem;
            }

            &:hover {
                color: $clr2;

                .icon {

                    path {
                        fill: $clr2;
                    }
                }
            }
        }
    }
}