.nav-container {
    @include for-mobile-layout {
        display: none;
    }

    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
    height: 100%;
    background-color: $clr1;
    grid-column: 1;
    grid-row: 1;
    width: 412px;
    color: $clr2;


    nav {
        border-radius: 0.5rem;
        background-color: $clr4;
        font-weight: 600;
        gap: 20px;
        padding-inline: 0.75rem;
        padding-block: 0.5rem;

        div {
            cursor: pointer;
            color: #b3b3af;
            height: 48px;
            font-size: 1rem;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0.25rem 0.75rem 0.25rem 0.75rem;

            &.isActive {
                color: $clr2;
            }

            span {
                padding-top: 0.5rem;
            }

            &:hover {
                transition: 0.3s;
                color: $clr2;


                .icon {

                    path {
                        transition: 0.4s;
                        fill: $clr2;
                    }
                }
            }
        }
    }
}

.mobile-nav {
    display: none;

    @include for-mobile-layout {

        bottom: 0;
        position: fixed;
        width: 100%;
        display: flex;
        z-index: 3;
        // justify-content: space-around;
        // align-items: center;
        height: 3rem;

        .nav-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.3%;
            height: 3rem;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.87) 60%, black 100%);

            div {
                display: flex;
                align-items: center;
            }
        }
    }

}