.main-player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    grid-column: 1 / -1;
    width: 100%;
    // padding-block-start: 0.8rem;
    background-color: $clr1;
    height: 80px;
}

.main-player-container >*:nth-child(2) {
    justify-self: center;
}

.main-player-container >*:last-child {
    justify-self: end;
}

.main-player-container h1 {
    padding-inline-start: 0.5rem;
}

.main-player-container .play {
    border: none;
    border-radius: 50%;
    background-color: white;
}

.main-player-container .play span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-player-container .next,
.previous,
.shuffle,
.repeat {
    color: $clr3;
    border: none;
    height: 2rem;
    background-color: transparent
}

.main-player-container .mute {
    background-color: transparent;
    border: none;
}

.main-player-container .play:hover {
    scale: 104%;
}

.main-player-container .next:hover,
.previous:hover,
.repeat:hover,
.mute:hover,
.shuffle:hover {
    color: $clr2;
}

.main-player-container .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.main-player-container .icon {
    fill: $clr3
}

.main-player-container .btn:hover .icon path {
    fill: $clr2
}

.player-main-controls {
    display: flex;
    justify-content: center;
    margin-block-end: 10px;
}

.player-main-controls .btn {
    height: 2rem;
    width: 2rem;
    margin-inline: 0.5rem;
}

//////////////////////////

.vol-container {
    display: flex;
    margin-inline-end: 1.5rem;
    align-items: center;
}

.slider {
    align-self: center;
    justify-self: end;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.time-slider {
    // min-width: 40px;
    width: 600px;
    height: 4px;
    border-radius: 50px;
}
.vol-slider {
    width: 93px;
    height: 4px;
    border-radius: 50px;
}

.slider:hover {
    background: $clr7;
}

.slider:hover::-webkit-slider-thumb {
    opacity: 1;
}

/* Style the slider track */
.slider::-webkit-slider-runnable-track {
    // height: px;
    border-radius: 5px;
}

.slider-track {
    height: 10px;
    border-radius: 5px;
}

/* Style the slider thumb (dot) */
.slider::-webkit-slider-thumb {
    opacity: 0;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $clr2;
}

.main-player-container .vol-btn {
    color: $clr2;
    align-self: center;
    font-size: 1rem
}

.enabled path {
    fill: $clr9;
}

.time-container {
    display: flex;
    font-size: 0.6875rem;
    font-weight: 400;
    gap: 8px;
}

.player-mid {
    display: grid;
    align-content: center;
}