.main-player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column: 1 / -1;
    width: 100%;
    background-color: $clr1;
    height: 72px;

    >*:last-child {
        justify-self: end;
    }

    h1 {
        padding-inline-start: 0.5rem;
    }

    .svg-fill {
        fill: $clr11;

        &:hover {
            fill: lighten($clr2, 10%)
        }
    }

    .player-mid-container {
        display: grid;
        align-content: center;

        .track-controls-container {
            display: flex;
            justify-content: center;
            margin-block-end: 0.5rem;

            .btn {
                height: 2rem;
                width: 2rem;
                margin-inline: 0.5rem;
            }

            .repeat,
            .shuffle {
                margin-inline: 0rem;
            }

            .play {
                border: none;
                border-radius: 50%;
                background-color: white;
            }

            .play:hover {
                scale: 104%;
            }

            .repeat-playlist path {
                fill: $clr9;
            }

            .repeat-song path {
                fill: $clr9;
            }

            .enabled path {
                fill: $clr9;
            }
        }

        .playback-container {
            display: flex;
            font-size: 0.6875rem;
            font-weight: 400;
            gap: 8px;

            .playback-slider {
                // width: 39.12rem;
                width: 100%;
            }

            span {
                color: lighten($clr12, 25%);
            }
        }
    }

    .vol-container {
        display: flex;
        margin-inline-end: 0.5rem;
        align-items: center;

        .vol-slider {
            width: 5.8125rem;
        }

        .mute {
            &:hover ~ .vol-slider {
                background-color: $clr9;
            }
            &:hover ~ .vol-slider::-webkit-slider-thumb {
                opacity: 1;
            }
        }
    }

    .track-info-container {
        display: flex;
        gap: 1rem;
        padding-inline-start: 0.5rem;
        align-items: center;

        .img-container {
            display: flex;
            align-items: center;
        }

        img {
            border-radius: 0.2rem;
            height: 3.5rem;
            width: 3.5rem;
        }

        .track-title {
            color: $clr2;
            font-size: 0.875rem;
        }

        .track-artist {
            color: $clr3;
            font-size: 0.69rem;
        }
    }


}

.slider {
    align-self: center;
    justify-self: end;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: $clr10;
    background-color: white;
    height: 0.25rem;
    border-radius: 50px;

    &:hover {
        background-color: $clr9;
    }

    &:hover::-webkit-slider-thumb {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        opacity: 0;
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $clr2;
    }

    &::-webkit-slider-runnable-track {
        border-radius: 5px;
    }
}


// not working atm
.repeat-playlist {
    &:hover .svg-fill {
        fill: lighten($clr9, 20%)
    }
}