.rsb-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $clr4;
    color: $clr2;
    padding: 1rem;
    grid-column: 3;
    border-radius: 0.5rem;
    max-width: 26.25rem;
    overflow-y: auto;

    @include for-mobile-layout {
        display: none;
    }

    button {
        border: none;
        background-color: transparent;
    }

    .rsb-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-size: 1rem;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }

        .closeRSB-btn {
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: #ffffff12;

                path {
                    fill: $clr2;
                }
            }
        }

    }

    .track-img {
        border-radius: 0.5rem;
    }

    .track-info {
        padding-inline-start: 0.375rem;

        h1 {
            font-family: CircularSpTitle, CircularSpTitleHeb;
            font-size: 1.5rem;
            font-weight: 700;
        }

        h4 {
            font-weight: 400;
            color: $clr3;
            display: inline;

            a {
                &:hover {
                    text-decoration: underline;
                    color: $clr2;
                }
            }
        }
    }

    .next-track {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        border-radius: .5rem;
        background-color: #ffffff12;

        header {
            font-size: 1rem;
            font-weight: 700;
        }

        .next-track-info {
            display: flex;
            align-items: center;
            gap: 0 .75rem;
            padding: .5rem;
            margin: 0 -.5rem -.5rem;

            &:hover {
                background-color: #393939;
                border-radius: .5rem;
            }

            .next-track-btn {
                padding: 0;

                .rsb-play {
                    path {
                        fill: $clr2;
                    }
                }
            }

            img {
                height: 2.875rem;
            }

            .next-track-name {
                display: block;
            }

            .next-track-artist {
                display: inline;
                font-size: 0.875rem;
                color: $clr3;

                a {
                    &:hover {
                        text-decoration: underline;
                        color: $clr2;
                    }
                }
            }
        }
    }

    .artist-meta {
        cursor: pointer;
        position: relative;

        h4 {
            position: absolute;
            padding: 1rem;
        }

        img {
            width: 100%;
            border-radius: .5rem;
        }

        .mini-bio-container {
            position: relative;

            .mini-bio {
                background-color: #232323;
                position: absolute;
                bottom: 0;
                border-radius: 0 0 .5rem .5rem;
                max-height: 6.1rem;
                overflow: hidden;
                padding-inline: 1rem;
                padding-block: 1rem;

                p {
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    margin: 0;
                    overflow-wrap: anywhere;
                    text-overflow: ellipsis;
                    color: $clr3;
                }
            }
        }
    }

    .artist-events {
        background-color: #ffffff12;
        padding: 1rem .5rem .5rem .5rem;
        border-radius: .5rem;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        h4 {
            padding-inline-start: .5rem;
        }

        .event {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 1rem;
            padding: .5rem;
            border-radius: .5rem;
            cursor: pointer;

            &:hover {
                background-color: #393939;
            }

            .date {
                background-color: #1a1a1a;
                display: flex;
                flex-direction: column;
                width: 3rem;
                height: 3rem;
                border-radius: .25rem;
                padding-block-start: .25rem;
                align-items: center;
                justify-content: center;

                .month {
                    font-size: 0.6875rem;
                    font-weight: 700;
                }

                .day {
                    font-size: 1.5rem;
                    font-family: CircularSpTitle;
                }
            }

            .event-info {
                line-height: 1.4;

                h3 {
                    font-size: 1rem;
                    font-weight: 400;
                }

                p,
                span {
                    font-size: 0.875rem;
                    margin: 0;
                }

                div {
                    color: $clr3;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    white-space: pre-wrap;
                    font-size: .875rem;
                }
            }
        }
    }
}