.categories-container {
    border-radius: 0.5rem;
    background-color: $clr4;
    overflow-y: auto;

    .track-list {
        padding: 5rem 0 0 1.4rem;

        @include for-mobile-layout {
            padding: 5rem 0 0 0;
        }

    }

    .categories-list {
        margin-block-start: 5.5rem;
        padding-inline-start: 1.4rem;


        .browse {
            color: $clr2;
            margin-block-start: 1.5rem;
            margin-block-end: 1rem;

            @include for-mobile-layout {
                margin-block-start: 3rem;
            }
        }
    }
}