.search-page {
    border-radius: 0.5rem;
    background-color: $clr4;
    padding-inline-start: 1.4rem;
    overflow-y: auto;

    .search-header {
        z-index: 1;
        background-color: $clr4;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        height: 4rem;
        gap: 8px;
    }

    .nav-btn {
        border-radius: 50%;
        border: none;
        height: 2rem;
        width: 2rem;
        background-color: $clr1;

        .material-symbols-outlined {
            display: flex;
            justify-content: center;
            color: $clr2;
        }
    }

    .search-input-container {
        display: flex;
        align-items: center;
        border-radius: 50px;
        padding: 10px 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 22.75rem;
        height: 3rem;
        background-color: #242424;

        &:hover {
            outline: 2px solid #363636;
            background-color: #2a2a2a;

            input {
                background-color: #2a2a2a;
            }
        }

        &:focus-within {
            outline: 2px solid white;
        }

        input {
            background-color: #242424;
            border: none;
            outline: none;
            padding: 5px 10px;
            font-size: 16px;
            color: $clr2;
            font-size: 0.875rem;
            width: 20rem;
        }

        .material-symbols-outlined {
            color: $clr2;
        }

        div {
            display: flex;
        }
    }

}

// .big {
//     height: 1000vh;
//     background-color: aqua;
// }