.search-preview-container {
    display: grid;
    grid-template-columns: [first] 4fr [var1] 2fr [last] minmax(120px, 1fr);
    align-items: center;
    padding-inline-end: 1rem;

    @include for-mobile-layout {
        grid-template-columns: [first] 4fr [last] minmax(120px, 1fr);
    }

    .mini-prev {
        height: 3.375rem;
        display: flex;
        align-items: center;

        .img-container {
            position: relative;

            img {
                height: 2.5rem;
                width: 2.5rem;
                margin-inline-end: 1rem;
                margin-inline-start: 0.5rem;
                display: flex;
                align-self: center;

                &.filter {
                    filter: brightness(0.5)
                }
            }

            .small-pause,
            .small-play {
                position: absolute;
                top: .7rem;
                left: 1.1875rem;

                path {
                    fill: #FFFFFF;
                }
            }

            .small-pause {
                top: 0.6rem;
                left: 1.25rem;
            }
        }
    }

    .track-info-container {
        overflow: hidden;

        &.isGreen {
            color: $clr9;
        }

        .track-name,
        .artist-name {
            color: $clr3;

            // handling text overflow
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: pre-wrap;
        }

        .track-name {
            color: $clr2;

        }

        &.track-playing {
            color: $clr9
        }


    }

    .track-playing {
        color: $clr9;
    }

}

.track-album {
    color: $clr3;

    @include for-mobile-layout {
        display: none;
    }
}

.add-btn {
    cursor: pointer;
    justify-self: end;
    color: $clr2;
    background-color: transparent;
    border: 1px solid $clr10;
    font-weight: 700;
    border-radius: 500px;
    padding: 0.25rem 0.9375;
    width: 3.6875rem;
    height: 2rem;

    &:hover {
        scale: 103%;
        outline: 1px solid $clr2;
    }

}