.categories-container {
    border-radius: 0.5rem;
    background-color: $clr4;
    padding-inline-start: 1.4rem;
    overflow-y: auto;

    .list {
        margin-block-start: 5.5rem;

        @include for-mobile-layout {
            margin: 0;
        }

        .browse {
            color: $clr2;
            margin-block-start: 1.5rem;
            margin-block-end: 1rem;
        }
    }
}