.sidebar-list-container {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    background-color: $clr4;
    border-radius: 0.5rem;
    margin-block-start: 0.5rem;
    overflow-y: hidden;
    width: 412px;

    @include for-mobile-layout {
        width: auto;
        height: 100%;
        margin-block-start: unset;
    }

    @include for-narrow-layout {
        width: auto;
        max-width: 25.75rem;
    }

    .sidebar-top {
        padding: 0.85rem;
        display: flex;
        justify-content: space-between;

        @include for-mobile-layout {
            margin-block-start: 2rem;
        }

        .add-station {
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background-color: #ffffff12;

                .plus-icon {
                    fill: $clr2;
                }
            }
        }
    }

    .collapse div {
        color: $clr3;
        font-size: 0.94rem;
        font-weight: 700;
    }

    .collapse {
        padding-inline-start: 0.7rem;
        gap: 0.8rem;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include for-mobile-layout {
            pointer-events: none;
        }

        &:hover {

            path {
                fill: $clr2;
            }

            div {
                color: $clr2;
            }

            .icon {
                fill: $clr2;
            }
        }

        span {
            @include for-mobile-layout {
                display: none;
            }
        }
    }

    .filter-btns {
        display: flex;
        gap: .4rem;
        align-items: center;
        padding: .3rem 1rem .6rem 1rem;

        .btn {
            border: none;
            background-color: #ffffff12;
            color: $clr2;
            cursor: pointer;
            transition: .2s;

            &:hover {
                background-color: #ffffff1b;
            }

            path {
                fill: $clr2;
            }
        }

        .unfilter {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
        }

        .filter {
            padding: .5rem .7rem;
            border-radius: 500px;
            z-index: 1;

            &.active {
                background-color: $clr2;
                color: $clr1;
            }

            &.transform {
                transform: translateX(-2rem);
                z-index: 0;
                padding: .5rem .7rem .5rem 2rem;
                background-color: #DEDEDE;

                &:hover {
                    background-color: $clr2;
                }
            }
        }
    }

    .filter-sort {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        padding-inline: 0.8rem 1.1rem;

        @include for-mobile-layout {
            padding-inline: .3rem;
        }

        div {
            padding-inline-start: .2rem;

            .station-search-btn {
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: .3s;
                opacity: 0;
                animation: fadeIn .4s ease-in-out forwards;

                path {
                    fill: $clr3;
                }

                &:hover {
                    background-color: #ffffff12;

                    path {
                        fill: $clr2;
                    }
                }
            }
        }

        .search-container {
            display: flex;
            align-items: center;
            gap: .2rem;
            padding: .4rem .7rem;
            background-color: $clr6;
            border-radius: .2rem;
            height: 2rem;
            width: 11.8rem;
            animation: openInput .2s ease-in-out;
            transform-origin: left;
            animation-iteration-count: 1;

            &.close {
                animation: closeInput .3s ease-in-out;
            }

            span path {
                fill: $clr3;
            }

            .station-search-input {
                background-color: $clr6;
                border: none;
                outline: none;
                width: 8rem;
                color: #ffffff99;
                font-size: .72rem;
                font-weight: 600;

                &::placeholder {
                    color: #ffffff99;
                    font-size: .72rem;
                    font-weight: 600;
                }

                @include for-mobile-layout {
                    max-width: 7rem;
                }
            }
        }

        .sort-container {
            display: flex;
            align-items: center;
            gap: .4rem;
            position: relative;
            cursor: pointer;
            transition: .05s;

            &:hover .view-option-icon:last-of-type {
                svg {

                    path {
                        fill: $clr2;
                    }
                }
            }



            &:hover .sort-btn {
                color: $clr2;
            }

            .sort-btn {
                color: $clr2;
                color: #A7A7A7;
                font-size: 0.875rem;

                .sort-menu {
                    padding: .25rem;
                    position: absolute;
                    right: 0;
                    width: 10rem;
                    background-color: $clr6;
                    border-radius: .2rem;
                    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
                    cursor: default;
                    z-index: 1;

                    .sort-menu-header {
                        color: $clr3;
                        font-size: 0.75rem;
                        font-weight: 700;
                        padding: .8rem .7rem;
                    }

                    .sort-option {
                        color: #FFFFFFE6;
                        border-radius: .2rem;
                        padding: .4rem .7rem;
                        font-size: 0.875rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &.active {
                            color: $clr9;
                        }

                        &:hover {
                            background-color: $clr13;
                        }

                        .vee-icon svg {
                            height: 1rem;
                            display: flex;
                            align-items: center;
                        }
                    }

                    hr {
                        margin: 0;
                        border-color: $clr12;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        padding: 0;
                    }

                    .grid-selector-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-block: .7rem;

                        .grid-selector {
                            -webkit-appearance: none;
                            height: .2rem;
                            background: $clr3;
                            border-radius: 5px;

                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                width: .8rem;
                                height: .8rem;
                                background: $clr2;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

            .view-option-icon {
                display: flex;

                &.active {
                    path {
                        fill: $clr9;
                    }

                }

                &:last-of-type {
                    path {
                        fill: #A7A7A7;
                    }
                }
            }
        }
    }

    .no-results-msg {
        text-align: center;
        padding: 1rem;
        margin: auto;

        h1 {
            color: $clr2;
            margin-block-end: 1rem;
            font-size: 1.125rem;
        }

        h2 {
            color: $clr2;
            font-size: 0.875rem;
            font-weight: 400;
        }
    }
}