.sidebar-list-container {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: $clr4;
    border-radius: 0.5rem;
    margin-block-start: 0.5rem;
    overflow-y: hidden;

    @include for-mobile-layout {
        width: auto;
    }

    .sidebar-top {
        padding: 0.85rem;
        display: flex;
        justify-content: space-between;

        @include for-mobile-layout {
            margin-block-start: 2rem;
        }

        .add-station {
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background-color: #ffffff12;

                .plus-icon {
                    fill: $clr2;
                }
            }
        }
    }

    .collapse div {
        color: $clr3;
        font-size: 0.94rem;
        font-weight: 700;
    }

    .collapse {
        padding-inline-start: 0.7rem;
        gap: 0.8rem;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include for-mobile-layout {
            pointer-events: none;
        }

        &:hover {

            path {
                fill: $clr2;
            }

            div {
                color: $clr2;
            }

            .icon {
                fill: $clr2;
            }
        }

        span {
            @include for-mobile-layout {
                display: none;
            }
        }
    }
}