.station-main-container {
    padding: 0.5rem;
    display: grid;
    grid-template: 1fr auto/auto 1fr;
    height: 100vh;
    gap: .5rem;

    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}