.station-details {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
    border-radius: 0.5rem;

    @include for-mobile-layout {
        border-radius: 0;
    }

    .station-info {
        img {
            height: 1.5rem;
        }

        div {
            margin-block-start: 1rem;
            margin-block-end: 0.14rem;
            display: flex;
            align-items: center;

            @include for-mobile-layout {
                justify-content: center;
                margin: 0.5rem;
            }
        }

        div>* {
            margin-right: 5px;
        }

        h1 {
            font-family: CircularSpTitle, CircularSpTitleHeb;
            margin-block-start: 1.1rem;
            margin-block-end: 1.4rem;
            font-weight: 900;
            font-size: 6rem;
            color: $clr2;

            @include for-mobile-layout {
                display: flex;
                justify-content: center;
                font-size: 2rem;
                margin-block-start: 0.3rem;
                margin-block-end: 0;
                padding-inline-start: 0.5rem;
                padding-inline-end: 0.5rem;
            }

        }

        .logo {
            font-weight: 700;
        }

        .songs-num {
            color: $clr2;
        }

        .pl {
            font-size: 0.875rem;
            color: $clr2;
            font-family: CircularSpTitle;
            letter-spacing: 0.45px;

            @include for-mobile-layout {
                display: none;
            }
        }

        span {
            font-size: 0.875rem;
            color: $clr2
        }

        .songs-time {
            color: $clr3;
        }

    }

    .station-img {
        height: 100%;
        width: 14.5rem;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    }

    & .description {
        color: $clr3;
        font-size: 0.875rem;
        margin-block-start: -10px;

        @include for-mobile-layout {
            display: none;
        }
    }



    & .img-photo {

        @include for-mobile-layout {
            display: block;
            margin: auto;
        }

        .img {
            img {
                @include for-mobile-layout {
                    width: 100%;
                    padding: 2rem;
                }
            }
        }

        align-self: end;
        display: flex;
        gap: 1.5rem;
        margin-inline-start: 1.5rem;
        align-items: end;
        line-height: 1;
        margin-block-end: 1.34rem;
    }


    .top-gradient {
        height: 24.92rem;
        display: flex;

        @include for-mobile-layout {
            height: fit-content;
        }
    }

    & .details-player {
        display: flex;
        padding: 1.5rem;

        .material-symbols-outlined {
            cursor: pointer;
            margin-inline-start: 1.6rem;
            color: $clr3;
            font-variation-settings:
                'FILL' 1,
                'wght' 500,
                'GRAD' -25,
                'opsz' 48;
            font-size: 2.7rem;
            padding-top: 0.1rem;

            &:hover {
                color: $clr2;
                transform: scale(1.04);
            }
        }

        & .details-play {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            background-color: $clr7;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin-inline-end: 1.6rem;

            &:hover {
                transform: scale(1.04);
            }
        }

        & .details-like,
        .details-unlike {
            cursor: pointer;
            border: none;
            background-color: transparent;
        }

        .details-like:hover {
            path {
                fill: $clr2;
            }

            scale: 104%;
        }

        .share.enabled {
            color: $clr9;
        }

    }
}