.station-list {
    max-width: 119rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 24px;
}

//     li {
//         background-color: $clr2;
//         color: $clr6;
//         padding: 5px;
//         margin: 5px;
//     }

//     a {
//         color: $clr1;
//         padding: 10px;
//     }

//     pre {
//         background-color: #ddd;
//         font-size: .5em;
//         color: #333;
//         padding: .2em;
//         margin: .2em;
//     }
// }