.station-details {
    overflow: auto;
    border-radius: 0.5rem;

    .station-info {
        img {
            height: 1.5rem;
        }

        div {
            margin-block-start: 1rem;
            margin-block-end: 0.2rem;
            display: flex;
            align-items: center;

        }

        div>* {
            margin-right: 5px;
        }

        h1 {
            margin-block-start: 0.9rem;
            margin-block-end: 2rem;
            font-weight: 900;
            font-size: 6rem;
            color: $clr2;
            margin-inline-start: -0.25rem;
        }

        .logo {
            font-weight: 700;
        }

        .songs-num {
            color: $clr2;
        }

        span {
            font-size: 0.875rem;
            color: $clr2;
        }

        .songs-time {
            color: $clr3;
        }

    }

    .station-img {
        height: 100%;
        width: 14.5rem;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    }

    & .description {
        color: $clr3;
        font-size: 0.875rem;
        margin-block-start: -10px;
    }



    & .img-photo {
        align-self: end;
        display: flex;
        gap: 1.5rem;
        margin-inline-start: 1.5rem;
        align-items: end;
        line-height: 1;
        margin-block-end: 1.30rem;
    }

    .top-gradient {
        height: 24.92rem;
        display: flex;
    }

    & .details-player {
        display: flex;
        padding: 1.5rem;

        & .details-play {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            background-color: $clr7;
            border: none;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                transform: scale(1.04);
            }
        }

        & .details-like {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }
    }
}