.station-list-container {
    max-width: 119rem;

    .station-list {

        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(10.625rem, 1fr));
        min-width: 372px;

        @include for-mobile-layout {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: .5rem;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }

            &.category-list {
                padding-inline: .5rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(5.625rem, 1fr));
                gap: .5rem;
            }

            &.search-list {
                padding-inline: .5rem;
            }
        }

    }

    .station-list-hor {

        max-width: 119rem;
        display: grid;
        grid-gap: 1rem 1.5rem;
        grid-template: auto/repeat(auto-fill, minmax(max(16.875rem, 25%), 1fr));

        @include for-mobile-layout {
            grid-gap: .5rem .5rem;
            grid-template: auto/repeat(auto-fill, minmax(max(8.875rem, 25%), 1fr));
        }
    }
}