.track-preview {
    .eq {
        height: 0.875rem;
        width: 0.875rem;
    }

    .small-like-dis {
        border: none;
        background-color: transparent;

        &:hover {
            svg {
                path {
                    fill: $clr2
                }
            }
        }
    }

    .small-like-ena {
        border: none;
        background-color: transparent;
    }

    .small-play {
        border: none;
        background-color: transparent;

        path {
            fill: $clr2
        }
    }

    &:hover {
        background-color: #2c2d2a;
    }

    img {
        height: 2.5rem;
        width: 2.5rem;
        margin-inline-end: 1rem;
    }

    .track-num {
        display: flex;
        align-items: center;
    }

    .track-album {
        color: $clr3;
        font-size: 0.875rem;
        font-weight: 400;
    }

    .img-container {
        display: flex;
        align-items: center;
    }

    .mini-prev {
        height: 3.375rem;
        display: flex;
        align-items: center;

        .track-name {
            color: $clr2;

            &.track-playing {
                color: $clr9
            }
        }

        .track-artist {
            color: $clr3;
            font-size: 0.875rem;
        }
    }
}