.track-list {
    margin-inline: 1.5rem;
    max-width: 119rem;

    @include for-mobile-layout {
        margin-inline: 0;
        margin-block-end: 7rem;
    }

    .track-paused {
        color: $clr9
    }

    span {
        color: $clr3;
        font-weight: 400;
    }

    hr {
        border: 1px solid #343540;

        @include for-mobile-layout {
            display: none;
        }
    }

    // ghost track being dragged
    .dragged-item {
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #2c2d2a
    }

    .list-header {
        // position: sticky;
        display: grid;
        grid-template-columns: [index] 1rem [first] 6fr [var1] 4fr [var2] 3fr [last] 4rem;
        top: 4rem;
        margin-block-start: 0.5em;
        column-gap: 1rem;
        padding: 0 16px;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;

        @include for-mobile-layout {
            display: none;
        }

        >:last-child {
            padding-inline-start: 1rem;
        }
    }


}