.track-list {
    margin-inline: 1.5rem;
    max-width: 119rem;


    span {
        color: $clr3;
        font-weight: 400;
    }

    hr {
        border: 1px solid #343540;
    }

    .list-header {
        // position: sticky;
        top: 4rem;
        margin-block-start: 0.5em;
    }
}