.track-preview {
    display: grid;
    grid-template-columns: [index] 1rem [first] 6fr [var1] 4fr [var2] 3fr [last] 4rem;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;

    @include for-mobile-layout {
        grid-template-columns: 9fr 1fr auto;
        column-gap: 0;
        padding: 0 .5rem;
    }

    .eq {
        height: 0.875rem;
        width: 0.875rem;

        @include for-mobile-layout {
            display: none;
        }
    }

    .small-like-dis {
        border: none;
        background-color: transparent;

        &:hover {
            svg {
                path {
                    fill: $clr2
                }
            }
        }
    }

    .small-like-ena {
        border: none;
        background-color: transparent;
    }

    .small-play,
    .small-pause {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;

        @include for-mobile-layout {
            display: none;
        }

        path {
            fill: $clr2
        }
    }

    &:hover {
        background-color: #2c2d2a;

        .track-album,
        .track-artists span {
            color: $clr2;
        }
    }

    img {
        height: 2.5rem;
        width: 2.5rem;
        margin-inline-end: 1rem;

        @include for-mobile-layout {
            margin-inline-end: .5rem;
        }
    }

    .track-num {
        display: flex;
        align-items: center;
        justify-content: center;

        @include for-mobile-layout {
            display: none;
        }
    }

    .track-time,
    .track-date,
    .track-album {
        @include for-mobile-layout {
            display: none;
        }
    }

    .track-time,
    .track-artist,
    .track-date,
    .track-album {
        color: $clr3;
        font-size: 0.875rem;
    }


    .img-container {
        display: flex;
        align-items: center;
    }

    .mini-prev {
        height: 3.375rem;
        display: flex;
        align-items: center;

        .track-info-container {
            overflow: hidden;


            .track-artists {
                span {
                    font-size: 0.875rem;

                    :hover {
                        text-decoration: underline;
                    }
                }
            }


            .track-artists,
            .track-name,
            .artist-name {
                // handling text overflow
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                white-space: pre-wrap;
            }

            .track-name {
                color: $clr2;
            }

            .track-playing,
            .track-paused {
                color: $clr9;
            }
        }
    }

    .track-album a {
        &:hover {
            text-decoration: underline;
        }
    }

    .time-actions {
        display: flex;
        align-items: center;

        .track-time {
            display: flex;
            justify-content: end;
            width: 2rem;
        }

        .dropdown {
            position: fixed;
            padding: .25rem;
            background-color: $clr6;
            box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
            width: 16.25rem;
            font-size: .875rem;
            color: #ffffffe6;
            z-index: 1;
            border-radius: .2rem;

            @include for-mobile-layout {
                top: 50% !important;
                left: 50% !important;
                translate: -50% -50%;
                scale: 130%;
            }

            hr {
                margin: 0;
                border-color: $clr13;
            }

            .dropdown-item {
                display: flex;
                padding: .4rem .5rem .4rem .75rem;
                border-radius: .2rem;

                &:hover {
                    background-color: $clr13;
                }

                .wrapper {
                    display: flex;
                    align-items: center;
                    gap: .75rem;
                }
            }

            .sub-dropdown {
                position: absolute;
                top: .25rem;
                border-radius: .2rem;
                display: grid;
                padding: .25rem;
                box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
                background-color: $clr6;
                min-width: 11.5rem;

                @include for-mobile-layout {
                    top: 9rem;
                    left: 50% !important;
                    translate: -50%;
                    width: 16.25rem;
                    box-shadow: -16px 0 24px rgba(0, 0, 0, .3), 16px 0 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
                    // border-radius: unset;
                    // border-radius-bottom: .2rem;
                    border-radius-bottom-right: .2rem;
                    border-radius-bottom-left: .2rem;
                }

                .sub-dropdown-item {
                    display: flex;
                    gap: .75rem;
                    padding: .4rem .5rem .4rem .75rem;
                    border-radius: 0.2rem;

                    &:hover {
                        background-color: $clr13;
                    }
                }
            }
        }
    }

    .btn-options,
    .btn-dislike,
    .btn-like {
        display: flex;
        align-self: center;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .btn-options {
        padding-inline-start: 0.5rem;
    }

    .btn-dislike,
    .btn-like {
        padding-inline-end: 1rem;
    }

    .btn-options,
    .btn-like,
    .btn-dislike {
        @include for-mobile-layout {
            display: flex !important;
        }
    }
}