.user-msg {

    background-color: #0d72ea;
    position: fixed;
    bottom: 7rem;
    right: 50%;
    transform: translateX(50%);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
    color: $clr2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    &.success {
        background-color: #0d72ea;
    }

    &.error {
        background-color: lightcoral;
    }
}