.userlist-container {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-inline-start: 3rem;

    @include for-mobile-layout {
        margin-inline-start: 0.8rem;
    }

    li {
        position: relative;
        margin-inline-start: -1rem;
    }
}