.user-edit {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 4;
    background-color: #282828;
    border-radius: 0.5rem;

    @include for-mobile-layout {
        width: 85%;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;

        span {
            cursor: pointer;
            display: grid;
            align-content: center;
            justify-content: center;

            height: 2rem;
            width: 2rem;
            border-radius: 50%;

            &:hover {
                background-color: #3e3e3e;
            }
        }

        h1 {
            font-size: 1.5rem;
            color: $clr2;
            font-family: CircularSpTitle;
        }
    }

    .edit {
        display: grid;
        grid-template: 2rem 8.25rem auto/11.25rem 17.5rem;
        grid-gap: .8rem;
        position: relative;
        padding: 0 1.5rem 1.5rem;

        @include for-mobile-layout {
            display: flex;
            flex-direction: column;
        }

        .remove-img-btn {
            position: absolute;
            bottom: 7rem;
            left: 3.5rem;
            border: none;
            background-color: transparent;
            font-weight: 700;
            font-size: 1rem;
            color: $clr2;
            transition: .2s;

            &:hover {
                text-decoration: underline;
            }

            @include for-mobile-layout {
                opacity: 1 !important;
                bottom: 12rem;
                left: 4.5rem;
            }

        }
    }

    .album-image,
    img {
        width: 100%;
        border-radius: 0.2rem;
        grid-row: 1;
        grid-column: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #282828;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
    }

    input {
        grid-row: 2;
        grid-column: 2;
        height: 2.5rem;
        color: $clr2;
        padding: 0rem 0.75rem;
        background-color: #FFFFFF1A;
        border: none;
        border-radius: 0.2rem;
        outline: none;

        @include for-mobile-layout {
            height: 2rem;
        }

        &:focus {
            border: 1px solid lightgrey;
            background-color: #333333;
        }
    }

    .save-btn {
        grid-row: 2;
        grid-column: 2;
        justify-self: end;
        align-self: end;
        border-radius: 2em;
        background: #fff;
        padding: 0.5rem 2rem;
        margin-block-end: 2rem;
        font-weight: bold;
        font-family: Circular;
        font-size: 1rem;
        height: 3rem;
        border: none;

        @include for-mobile-layout {
            align-self: center;
        }

        &:hover {
            scale: 105%;
        }
    }

    .disclaimer {
        grid-row: 4;
        grid-column: 1 / span 2;
        color: white;

        @include for-mobile-layout {
            display: none;
        }
    }
}

body.ue-modal-open .user-edit {
    display: unset;
}