.alert {

    background-color: #0d72ea;
    position: fixed;
    bottom: 7rem;
    right: 50%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
    color: $clr2;

    &.alert-success {
        background-color: #0d72ea;
    }

    &.alert-error {
        background-color: lightcoral;
    }
}