$animation-duration: 0.5s;
$animation-timing-function: cubic-bezier(0.12, 1, 0.5, 1);
$scale-animation-duration: 0.2s;
$heart-fill-default: #a7a7a7;
$heart-fill-checked: $clr7;
$heart-fill-scale-pulse: $clr7;
$heart-scale: 1.1;


.details-player {
    .heart-svg {
        height: 80px;
        width: 80px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block-start: -0.3rem;
        margin-inline-start: -1.7rem;

        @include for-mobile-layout {
            margin-block-start: -1rem;
            margin-inline-start: -.3rem;
        }
    }

    .label {
        width: 20px;
        height: 20px;

    }

    label {
        cursor: pointer;
        transform: translate(-90px, 18px);

        @include for-mobile-layout {
            transform: translate(-102px, 22px);
        }
    }

    .bubbling-heart {
        cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label {
        position: relative;
        display: grid;
        place-content: center;

        #center-heart #inner {
            fill: transparent;
            transition: $animation-duration $animation-timing-function;
        }

        #center-heart #outer {
            fill: $heart-fill-default;
            transition: $animation-duration $animation-timing-function;
        }

        #left-hearts>*,
        #right-hearts>* {
            opacity: 0;
            transition: $animation-duration $animation-timing-function;
        }

        &:before,
        &:after {
            content: "";
            display: grid;
            border-radius: 100%;
            position: absolute;
            outline: 25px solid $clr7;
            height: 40px;
            width: 40px;
            margin-block-start: -0.7rem;
            margin-inline-start: -1.2rem;
            animation: scalePulse $scale-animation-duration $animation-timing-function forwards;
        }

        &:after {
            opacity: 1;
            transform: scale(0);
            animation-delay: 0.2s;
        }

        #center-heart #inner,
        #center-heart #outer {
            fill: $heart-fill-scale-pulse;
        }

        #left-hearts>*,
        #right-hearts>* {
            transform-origin: center center;
            animation: floatingHearts $animation-duration $animation-timing-function forwards;
        }

        #right-hearts g:first-child {
            animation-delay: 0.3s;
        }

        #right-hearts g:last-child {
            animation-delay: 0.1s;
        }

        #left-hearts g:first-child {
            animation-delay: 0.2s;
        }

        #left-hearts g:last-child {
            animation-delay: 0.5s;
        }

        &.checked {
            cursor: pointer;
        }
    }

    @keyframes floatingHearts {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        50% {
            opacity: 0.5;
        }

        to {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    @keyframes scalePulse {
        0% {
            transform: scale(0);
        }

        to {
            transform: scale($heart-scale);
            opacity: 0;
        }
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

.pulse {
    animation: heartBeat 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.2);
    }

    10% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes openInput {
    from {
        transform: scaleX(.5);
        opacity: .5;
    }

    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes closeInput {
    from {
        transform: scaleX(1);
        opacity: 1;
    }

    to {
        transform: scaleX(.5);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveImgUp {
    0% {
        transform: translateY(20rem);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveTextRight {
    0% {
        transform: translate(-20rem, 20rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes createBox {
    from {
        transform: scale(.7);
        opacity: .5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}