.new-layout {
    max-width: 123rem;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background: none;
    border: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
    line-height: 1.6;
    background-color: #000000;
    font-family: Circular, CircularSpHeb;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;

    @include for-mobile-layout {
        display: none;
    }
}

::-webkit-scrollbar-track {
    background-color: #121212;
    border-radius: 0 .5rem .5rem 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0 .5rem .5rem 0;
    background-color: #6464644a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8f8f8f;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}