// .container {
//     max-width: 1500px;
//     padding: 10px;
// }

// .main-container {
//     display: grid;
//     grid-template-columns: 20px 1fr 20px;

//     > * {
//         grid-column: 2;

//         &.full {
//             grid-column: 1 /-1;
//         }
//     }

//     @include for-narrow-layout {
//         grid-template-columns: 
//             minmax(20px, 1fr)
//             minmax(auto, $mobile-breakpoint)
//             minmax(20px, 1fr);
//     }
//     @include for-normal-layout {
//         grid-template-columns: 
//             minmax(20px, 1fr)
//             minmax(auto, $narrow-breakpoint)
//             minmax(20px, 1fr);
//     }
//     @include for-wide-layout {
//         grid-template-columns: 
//             minmax(20px, 1fr)
//             minmax(auto, $normal-breakpoint)
//             minmax(20px, 1fr);
//     }
// }

// .stationd-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     grid-gap: 20px;
// }

.track-preview-layout {
    display: grid;
    grid-template-columns: 16px 6fr 4fr 3fr minmax(120px, 1fr);
    gap: 16px;
    padding: 0 16px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
}