// // Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

// // Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;

$clr1: black;
$clr2: white;
$clr3: #b3b3af;
$clr4: #121212;
$clr5: #181818;
$clr6: #282828;
$clr7: #1ed760;
$clr8: #1a1a1a;
$clr9: #1db954;