// Breakpoints
$mobile-breakpoint: 850px;
$narrow-breakpoint: 1480px;
$normal-breakpoint: 960px;

$clr1: black;
$clr2: white;
$clr3: #b3b3af;
$clr4: #121212;
$clr5: #181818;
$clr6: #282828;
$clr7: #1ed760;
$clr8: #1a1a1a;
$clr9: #1db954;
$clr10: #ffffff4d;
$clr11: #ffffffb3;
$clr12: #6a6a6a;
$clr13: #3d3d3d